/glue-com/GlueMFC/x64/*
/glue-com/GlueMFC/.vs/*
/glue-c-exports/cpp-console-example/Debug/
/glue-c-exports/cpp-console-example/.vs/
/glue-c-exports/.vs/
/glue-c-exports/mfc-example/.vs
/glue-c-exports/mfc-example/GlueCLI_MFC.vcxproj.user
/glue-c-exports/cpp-console-example/x64/*
/glue-c-exports/mfc-example/Debug/*
/glue-c-exports/mfc-example/x64/*
/glue-com/GlueCppConsole/.vs/
/glue-com/GlueCppConsole/Debug/
/glue-com/GlueCppConsole/x64/
/glue-com/GlueMFC/Debug/
/glue-c-exports/Glue-qt/build-glueqt-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/*
/glue-c-exports/gluepy/.idea/
/glue-c-exports/gluepy/build/
/glue-c-exports/cpp-console-example/GlueNati.30b02569
/glue-com/GlueDelphi/__recovery
*.dcu
*.rsm
*.local
*.res
*.exe
/glue-com/GlueDelphi10 - CaseList/__history
*.identcache
/glue-com/GlueDelphi10 - CaseList/__recovery
*.dcr
*.vsidx
/glue-com/HermesPrtgDemo/.vs
*.user
/glue-com/HermesPrtgDemo/obj
